body {
  font-family: "Courier New", monospace;
}

h1 {
	font-size: 50px;
	margin: 0;
  font-family: "Courier New", monospace;
}

p {
	letter-spacing: 2px;
	margin: 0;
  font-family: "Courier New", monospace;
}

.nav{
  width: 15%;
  height: 100%;
  float: left;
}

.snake{
  width: 75%;
  height: 90%;
  float: right;
}

.description{
  width: 75%;
  height: 10%;
  float: right;
  font-size: 10px;
}
